/* Reset CSS per normalizzare i default dei browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

section {
  margin-top: 20px;
}

.container1 {
  margin-top: 20px;
  margin-left: 50px;
  background-color: var(--primary);
  max-width: 65rem;
  padding: 0 2rem;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  transition: .3s;
  color: #f8f8f8;
}

.container2 {
  background-color: var(--primary);
  height: 92%;
  max-width: 65rem;
  padding: 0 2rem;
  display: inline-block;
  position: absolute;
  border-radius: 50px;
  transition: .3s;
  margin-left: 30px;
}

/* Form */
.lsform {
  width: auto;
  max-width: 500px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.lsform label {
  font-weight: bold;
  margin-bottom: 5px;
}

.lsform .inputls {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.lsform .inputls:focus {
  outline: none;
  border-color: #64b5f6;
}

.lsform .submitls {
  width: 100%;
  background-color: var(--info);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lsform .submitls:hover {
  background-color: var(--info);
}

.lsform textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.lsform textarea:focus {
  outline: none;
  border-color: #64b5f6;
}

/* Media queries per rendere la pagina responsive */
@media screen and (max-width: 768px) {
  .container2 {
    position: static; /* Imposta la posizione del container2 a statica */
    margin-top: 20px; /* Aggiungi un margine superiore per spazio tra container1 e container2 */
  }
  .lsform {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .container1,
  .container2 {
    max-width: 65rem;
    margin-left: 50px;
    border-radius: 50px;
  }

  .lsform {
    max-width: 500px;
  }
}
